<!DOCTYPE html>
<html>
<head>
    <title>零售数据分析</title>
    <style>
        .color-bar {
            width: 200px;
            height: 50px;
            margin: 10px;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            color: white;
            text-shadow: 1px 1px 1px black;
        }
    </style>
</head>
<body>
    <h1>欢迎使用零售数据分析系统</h1>
    <nav>
        <a href="/">首页</a> |
        <a href="/catering">餐饮分析</a> |
        <a href="/space">场景分析</a>
        <div class="color-bar" style="background-color: #2405F2;">#2405F2</div>
        <div class="color-bar" style="background-color: #5C64F2;">#5C64F2</div>
        <div class="color-bar" style="background-color: #8596F2;">#8596F2</div>
        <div class="color-bar" style="background-color: #AEBFF2;">#AEBFF2</div>
        <div class="color-bar" style="background-color: #94F2B5;">#94F2B5</div>
    </nav>

</body>
</html>